BODY {
	SCROLLBAR-FACE-COLOR: #dcdcdc;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	SCROLLBAR-3DLIGHT-COLOR: #bbbbbb;
	SCROLLBAR-ARROW-COLOR: #626262;
	SCROLLBAR-TRACK-COLOR: #efefef;
	SCROLLBAR-DARKSHADOW-COLOR: #bbbbbb;
	MARGIN: 0px;
	
}
/*
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * "The contents of this file are subject to the Mozilla Public License
 * Version 1.1 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific language governing rights and limitations under
 * the License.
 *
 * The Original Code is ICEfaces 1.5 open source software code, released
 * November 5, 2006. The Initial Developer of the Original Code is ICEsoft
 * Technologies Canada, Corp. Portions created by ICEsoft are Copyright (C)
 * 2004-2006 ICEsoft Technologies Canada, Corp. All Rights Reserved.
 *
 * Contributor(s): _____________________.
 *
 * Alternatively, the contents of this file may be used under the terms of
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"
 * License), in which case the provisions of the LGPL License are
 * applicable instead of those above. If you wish to allow use of your
 * version of this file only under the terms of the LGPL License and not to
 * allow others to use your version of this file under the MPL, indicate
 * your decision by deleting the provisions above and replace them with
 * the notice and other provisions required by the LGPL License. If you do
 * not delete the provisions above, a recipient may use your version of
 * this file under either the MPL or the LGPL License."
 *
 */

div.clearer {
    clear: both;
    height: 0;
    line-height: .01em;
    padding: 0;
    margin: 0;
}

/* header begin */

div.header_container {
    width: 100%;
    height: 159px;
    min-width: 730px;
    background-image: url( './images/banner_bg.gif' );
    background-repeat: repeat-x;
    background-position: left top;
}
div.header_content{
    height: 159px;
    background-image: url( './images/banner_logo.jpg' );
    background-repeat: no-repeat;
    background-position: right top;
}

/* header end */

/* body start */

/* provides a continer to center a child div in */
div.body_container{
   float:left;
   margin-top:-80px;
   width:100%;
}
/* centers in parent as long as parent is larger then child*/
div.body_content {
   margin:0 auto;
   width:980px;
   padding-left: 25px;
}
div.body_content div{
   /*height: 100px;*/
}
div.navigationContainer {
    border: none;
    float: left;
    width:230px;
    border-bottom: 1px solid #d9d9d9;
}

/* margin-left should be updated along with the relative position of */
div.contentContainer {
    background: none;
    border: none;
    float:left;
    padding-left: 6px;
    width:720px;
   
}

.iceInpTxt{
	
}

table.componentTabSetContainer {
    width: 99%;
}

.iceDatTblRow{
    vertical-align:top;
    border: 0px solid #D9D9D9;
}

/* footer begin */
div.footer_container {
    float: left;
    width: 100%;
    height: 95px;
    min-width: 705px;
    background-image: url( './images/bgslice_footer.jpg' );
    background-repeat: repeat-x;
    background-position: bottom left;
}
div.footer_content{
    height: 95px;
    background-image: url( './images/footer_faces.jpg' );
    background-repeat: no-repeat;
    background-position: bottom right;
}

div.footer_content div{
   float:left;
   padding-top:60px;
   padding-left:10px;
   color: white;
}
div.footer_content a, div.footer_content a:hover{
   color: orange;
   text-decoration: none;
}
div.footer_content a{

}

div.footer_content a:hover{
   text-decoration: underline;
}
/* footer end */


/* controls the appearance of links throughout the application */
a:link, a:hover, a:visited, a:active {
    font-family: Arial;
    font-size: 11px;
 	font-weight: bold;
 	padding:0px 0px 0px 0px;
 	margin:0px 0px 0px 0px;
 	text-shadow:none;
    color: rgb(101, 126, 163);
   
}
.iceCmdLnk-dist {
	padding:0px 0px 0px 0px;
}
a:hover{
    color: #000033;
    text-decoration:underline;
    padding:0px 0px 0px 0px;
}
a:visited{
    /*color: #104e5b;*/
}
a:active{
    color: #318496;
}

/* doc view template decloration */
.docViewContainer, .docViewNavigation, .docViewContent{
    float:left;
}
.docViewNavigation, .docViewContent{
    height: 500px;
}
.docViewNavigation{
    width: 150px;
    overflow: scroll;
}
.docViewContent{
    width: 514px;
    border: 1px solid #D9D9D9;
}
.docViewContainer{
    width: 670px;
}
.docViewContainer a{
    color: #444444;
}
a.docViewNodeSelectedtrue{
    font-weight: bold;
}
.docViewContainer a:visited{
    color: #104e5b;
}
.docViewContainer a:hover{
    text-decoration: none;
    color: #318496;
}

.includeIframe{
    width:100%;
    height:100%;
    border: none;
    background-color: white;
    font-size: 11pt;
}

/* Main wrapper class for all component examples */
.componentBox {
    float: left;
    padding: 0 0 0 0;
}
/* Parent of componentBox when component examples are used in portlets */
.componentBoxPortlet{
    background-color:white;   
}

.synopsisBox {
    border: none;
    min-height: 36px;
    padding: 0 0 0 50px;
    background: url( './images/icon_info.gif' ) no-repeat top left;
    display: block;
}

.exampleBox1 {
    margin: 15px 15px 0 0;
    background: #38FF1D;
    border: 1px solid #d9d9d9;
    display: block;
    float:left;
    width: 300px;
}

.synopsisBox .iceOutTxt {
    display: block;
}

/* 2 + 13 =15 or the exampleBox margin. */
/* give outline effect for server chagned values boxes. */
.backBeanChangeContainer{
    padding: 0;
}

.backBeanChangeTitle{
    margin: 0;
    height: 20px;
    width: 275px;
    padding: 6px 0 0 8px;
    background: #FFF url( '../xmlhttp/css/rime/css-images/PnlHdr_bgslice.gif' ) repeat-x top left;
    border-bottom: 1px solid #d9d9d9;
}

.backBeanChangeBody{
    padding:2px;
}

.backBeanChangeBody > div.icePnlGrp:first-child {
    padding: 15px;
    background-color: white;
}

.iceOutTxt {
    color: #000000;
}

.iceSelOneRb-dis {
    border: 0;
    background-color: #FFFFFF;
    color: #444444;
}

h3 {
    font: 11px tahoma;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.columnsColumn {
    border: none;
    word-wrap: break-word;
}

/*
------------- Theme Controller
*/

.themeControlContainer {
    /*float:left;*/
    border:1px solid #D9D9D9;
    height:28px;
    margin-bottom:7px;
    padding: 7px 5px 5px 5px;
    text-align:left;
    vertical-align:middle;
    white-space: nowrap;
}

.themeControlContainer .changeThemeButton {
    border: 1px solid #d9d9d9;
    display:inline;
    margin-top:3px;
    padding: 4px 25px 4px 10px;
    width: 70px;
    background-image: url('./images/theme_refresh.png');
    background-position: right center;
    background-repeat: no-repeat;
}

.themeSelectOneMenu {
    margin:0;
    padding:0;
    margin-left: 3px;
    margin-right: 3px;
    margin-top:5px;
    border: 1px solid #d9d9d9;
    /*padding-top: 2px;*/
    width: 90px;
}

.themeControlContainer a {
    color: #444;
}

/*
------------- Navigation Tree 
*/
.navigationTree{

}
.navigationTreeRow {
    white-space: nowrap;
    vertical-align: middle;
    padding: 0;
}

.navigationTreeRow a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    padding: 0;
    padding-left: 3px;
    vertical-align: middle;
}

.navigationTreeRow a:hover {
    text-decoration: underline;
}

.navigationTreeRow img {
    border: 0;
    vertical-align: middle;
    background-repeat: repeat-y;
    padding: 0;
}
.navigationTreeRow > img{
    width: 16px;
}


.navigationTreeRow a img {
/* vertical-align: top; - Bug in FF, when img has focus it is not highlighted with a box.*/
    background-repeat: repeat-y;
    border: 0;
    padding: 0;
}

.navigationTreeRow * div {
    padding: 0;
    vertical-align: middle;
}



/* node selection and rollover state. */
a.navNodeSelecttrue:hover, a.navNodeSelectfalse:hover {
    color: #318496;
    text-decoration: none;
    padding-left: 16px;
    background: url( './images/navigation_tree/tree_node_rollover.gif' ) no-repeat left center;
}

a.navNodeSelecttrue:visited, a.navNodeSelectfalse:visited {
    /*color: #104e5b;*/
}

a.navNodeSelecttrue {
    font-weight: bold;
    padding-left: 16px;
    background: url( './images/navigation_tree/tree_node_selected.gif' ) no-repeat left center;
}

a.navNodeSelectfalse {
    padding-left: 16px;
    background: url( './images/navigation_tree/tree_node.gif' ) no-repeat left center;
}

a.navNodeFoldertrueExpandedfalse, a.navNodeFoldertrueExpandedfalse:hover{
    padding-left: 20px;
    background: url( './images/navigation_tree/tree_folder_closed.gif' ) no-repeat left center;
}

a.navNodeFoldertrueExpandedtrue, a.navNodeFoldertrueExpandedtrue:hover{
    padding-left: 20px;
    background: url( './images/navigation_tree/tree_folder_closed.gif' ) no-repeat left center;
}

/*
---------- end tree
*/

/* drag and drop demo */
.dndCartDesc span:first-child {
    font-weight: bold;
}
.dndCartDesc{
    margin-top:15px;
    margin-bottom:5px;
    float:left;
}
.inventoryItemContainer{
    float: left;
    margin: 8px;
    border: 1px solid #d9d9d9;
    width: 100px;
}
.inventoryItemContainer div{
    text-align: center;
}

.chartContainer{
    float:left;
    width: 462px;
    border: 1px solid #d9d9d9;
}
.returnItemButton {
    border: 1px solid #d9d9d9;
    background-color: white;
    display:inline;
    padding: 4px 25px 4px 10px;
    background-image: url('../images/dragDrop/return_arrow.png');
    background-position: right center;
    background-repeat: no-repeat;
}
.cartDropTarget{
    background-color: #fda505;
}

/* effects demo */
.effectWrapperContainer{
    float:left;
    margin: 15px;
    width: 125px;
    height: 80px;
    padding: 2px;
}
.effectWrapperContainer:hover {
    text-decoration: none;
}
.effectsDemoContainer{
    float:left;
    width: 125px;
    height: 80px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    background:url('../images/effect_gradient.gif') bottom left repeat-x;
}
.effectsDemoContainer > div{
    float:left;
    width:100%;
    font: 11px tahoma;
    vertical-align: middle;
    text-align: center;
    color: #484848;
    /*padding: 7px;*/
    font-weight: bold;
}
.effectsDemoTitle{
    background: #FFF url( '../xmlhttp/css/rime/css-images/PnlHdr_bgslice.gif' ) repeat-x center left;
    border-bottom: 1px solid #d9d9d9;
}
.effectsDemoContainer:hover {
    cursor: pointer;
    text-decoration: none;
}
.effectsDemoContainer:hover .iceOutTxt {
    color: #318496;
    text-decoration: none;
}
.effectsDemoContainer a:hover{
    text-decoration: none;
}

/* DATA PAGINATOR EXAMPLE */
.dataPaginatorDataTable {
    float: left;
    margin-top: 20px;
}

.dataPaginatorVertical_true {

}

.dataPaginatorVertical_false {
    clear: left;
}

/* END DATA PAGINATOR EXAMPLE */



/* main styles for individual component examples */

.synopsisBox > span:first-child,
    div.firstChildTitle > span:first-child,
    div.firstChildTitle > div > span:first-child {
    font-weight: bold;
}

.title {
    color: yellow;
}

.exampleBox a, .synopsisBox a, .exampleBox a:visited, .synopsisBox a:visited,
    .exampleBox a:hover, .synopsisBox a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.exampleBox a, .synopsisBox a, .exampleBox a:visited, .synopsisBox a:visited {
    text-decoration: none;
}

.exampleBox a:hover, .synopsisBox a:hover {
    text-decoration: underline;
}

.exampleBox .iceMnuItm a:hover {
    text-decoration: none;
}

.centerBox {
    margin-right: auto;
    margin-left: auto;
}


.loginLabel {
	FONT-SIZE: 14px;
	COLOR: #698B97;
	TEXT-DECORATION: none;
	margin-left:5px;
	font-weight: bold;
}

table.verticalAlignTop td {
    vertical-align: top;
}
div.verticalAlignMdl{
    vertical-align: middle;
}

/* connection status style for tabbed template */
.navConnectionStatus {
    left:900px;
    position:relative;
    top:33px;
}


/* left navigation panel collapsible, is not effected by theme changes.  */
.navPnlClpsbl, .navPnlClpsblColpsd {
    border-bottom: none;
}

.navPnlClpsblCnt .navPnlClpsbl {
    border: none;
}

.navPnlClpsblHdr {
    font: 11px tahoma;
    color: #484848;
    padding: 6px 0 0 8px;
    font-weight: bold;
    height: 20px;
    background: #FFF url( '../xmlhttp/css/rime/css-images/PnlHdr_bgslice.gif' ) repeat-x top left;
    border-bottom: 1px solid #d9d9d9;
}

.navPnlClpsblHdr .iceCmdLnk, .navPnlClpsblColpsdHdr .iceCmdLnk {
    padding-left: 22px;
}

.navPnlClpsblHdr .icePnlGrp a {
	font-weight: bold;
}

.navPnlClpsblCnt {
    font: 11px / 17px tahoma;
    color: #494949;
    background: #f5f5f5;
    padding: 4px 4px 4px 9px;
    border-bottom: none;
}

.navPnlClpsblCnt .navPnlClpsblHdr {
    font: 11px tahoma;
    color: #484848;
    padding: 0 0 0 0;
    font-weight: bold;
    height: 20px;
    border: none;
    margin-top: 8px;
}

.navPnlClpsblCnt .navPnlClpsblHdr .navOutTxt {
    background: none;
}

.navPnlClpsblCnt .navPnlClpsblColpsdHdr {
    font: 11px tahoma;
    color: #484848;
    padding: 0 0 0 0;
    font-weight: bold;
    height: 20px;
    border: none;
    margin-top: 8px;
}

.navPnlClpsblCnt .navPnlClpsblColpsdHdr .iceOutTxt{
    background: none;
}

.navPnlClpsblCnt .navPnlClpsblCnt {
    border-left: none;
    border-right: none;
    padding: 0 0 0 10px;
}

.navPnlClpsblCnt .navPnlClpsblColpsd {
    border: none;
}

.navPnlClpsblColpsdHdr {
    font: 11px tahoma;
    color: #484848;
    padding: 6px 0 0 8px;
    font-weight: bold;
    height: 20px;
    background: #FFF url( '../xmlhttp/css/rime/css-images/PnlHdr_bgslice.gif' ) repeat-x top left;
    border-bottom: none;
}

.navPnlClpsblColpsdHdr .iceOutTxt,
    .navPnlClpsblHdr .iceOutTxt {
    padding-left: 22px;
    color: #484848;
}

.navPnlClpsblColpsdCnt {
    border: none;
}

.navPnlClpsblHdr, .navPnlClpsblHdr-dis, .navPnlClpsblColpsdHdr, .navPnlClpsblColpsdHdr-dis {
    cursor: pointer;
}

.navPnlClpsblHdr div, .navPnlClpsblHdr-dis div, .navPnlClpsblColpsdHdr div, .navPnlClpsblColpsdHdr-dis div {
    background-repeat: no-repeat;
    background-position: left top;
    height: 18px;
}
/* -------------------------- */
.navPnlClpsbl a, .navPnlClpsblHdr a, .navPnlClpsblColpsdHdr a{
    color: #444444;
}
.navPnlClpsblWrapper {
    margin-top: 20px;
    display: block;
    float: left;
}

.navPnlClpsblLnks .iceOutTxt {
}

.navPnlClpsblLnks span, .navPnlClpsblLnks.nodec, .navPnlClpsblLnks:link,
    .navPnlClpsblLnks:hover, .navPnlClpsblLnks:visited {
    color: #004080;
}

.navPnlClpsblLnks:link, .navPnlClpsblLnks:visited {
    text-decoration: none;
}

.navPnlClpsblLnks:hover {
    text-decoration: underline;
}

.navPnlClpsblEnd {
    border-bottom: 1px solid #d9d9d9;
}

.navPnlClpsblHdr .iceCmdLnk, .navPnlClpsblColpsdHdr .iceCmdLnk {
    padding-left: 18px;
}

.navPnlClpsblHdr div, .navPnlClpsblHdr-dis div  {
    background: url( './images/navigation_tree/tree_folder_open.gif' ) no-repeat 0 3px;
}
.navPnlClpsblColpsdHdr div, .navPnlClpsblColpsdHdr-dis div {
    background: url( './images/navigation_tree/tree_folder_closed.gif' ) no-repeat 0 3px;
}
/* end of navigation panel collapsible */


/* AUTOCOMPLETE EXAMPLE */

.cityCol {
    width: 125px;
}

.stateCol {
    width: 125px;
}

.zipCol {
    width: 50px;
}

.serverFeedbackBorderHighlight {
    vertical-align: top;
    border: 1px solid #CCCCCC;
    padding: 10px;
    width: 300px;
}

.iceSelInpTxtRow, .iceSelInpTxtSelRow {
    height: 15px;
}

.iceSelInpTxtSelRow {
    color: #FFFFFF;
}

/* END AUTOCOMPLETE EXAMPLE */

/* COLUMNS EXAMPLE */

.columnsColumn, .columnsNestedColumn, .columnsNestedBoldColumn {
    white-space: nowrap;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    word-wrap: break-word;
}

.columnsColumn1 {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    width: 70%;
}

.columnsColumn2 {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    width: 25%;
}

.columnsColumn3 {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    width: 5%;
}

.columnsColumn {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    width: 55px;
    word-wrap: break-word;
}

/* END COLUMNS EXAMPLE */

/* MENUBAR EXAMPLE */

.menuHeadingItem a {
    width: 144px;
}

.orientationLabel {
    display: inline;
    float: left;
}

.orientationRadioBtn label {
    vertical-align: top;
}

/* END MENUBAR EXAMPLE */

/* MENUPOPUP EXAMPLE */
.menuPopupEffectsVrtSubMenuInd {
    padding-top: 0px;
}
/* END MENUPOPUP EXAMPLE */

/* PANELBORDER.JSPX */
.pnlBrdrDemo {
    margin: 15px 15px 0 0;
    display: block;
    float: left;
    padding: 15px;
}

.pnlBrdrDemoNorth, .pnlBrdrDemoEast, .pnlBrdrDemoWest, .pnlBrdrDemoCenter, .pnlBrdrDemoSouth {
    border: 1px solid #CCCCCC;
    background-color: #EEEEEE;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.pnlBrdrDemoNorth, .pnlBrdrDemoSouth {
    height: 60px;
}
.pnlBrdrDemoEast, .pnlBrdrDemoWest{
    width:100px;
}
.pnlBrdrDemoEast, .pnlBrdrDemoWest, .pnlBrdrDemoCenter {
    height: 100px;
}

/* END PANELBORDER.JSPX */

/* SELECTINPUTDATE.JSPX */
.weekend a {
    background-color: #999999;
}

.weekend a span {
    color: white;
}

.august span {
    font-weight: bold;
}

/* END SELECTINPUTDATE.JSPX */

/* GMAP.JSPX */
.iceGmpMapTd div.gmap {
    width: 545px;
    height: 350px;
    border: 3px inset #555555;
}

/* END GMAP.JSPX */

/* PANELPOPUP.JSPX */

.corePopup {
    position: absolute;
    z-index: 1001;
    width: 300px;
    height: 150px;
    top: 60%;
    left: 40%;
}

.popupBody {
    margin-top: 25px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.iceOutLbl {
	color: #000000;
	font-weight: bold;
}

.iceMnuBar {
	background-color: #A5BEC3;
}


.popupHeaderWrapper {
    text-align: center;
    vertical-align: middle;
}

.popupHeaderText {
    float: left;
}

.popupHeaderImage {
    float: right;
    margin-top: 2px;
    margin-right: 2px;
}

/* END PANELPOPUP.JSPX */

/* START PANELPOSITIONABLE */

.positionPanelContainer{
    /*border: 1px solid #d9d9d9;    */
}
.rankPanelContainer  span, .rankPanelContainer  span{
    font-weight: normal;
}

.positionPanelContainer div.container{
    background: #FFF url( '../xmlhttp/rime/css-images/PnlHdr_bgslice.gif' ) repeat-x top left;
    color: #484848;
    padding-left: 5px;
    font-weight: normal;
    width: 125px;
    border: 1px solid #d9d9d9;
}

.positionPanelContainer div.moveLabel{
    background: url( '../images/move_arrows.gif' ) no-repeat center left;
    padding: 6px 0 0 25px;
    height: 20px;
}
.rankPanelContainer div{
    padding: 6px 0 0 5px;
    border: 1px solid white;
    height: 20px;
}


/* END PANELPOSITIONABLE */

/* START PANEL TABSET  */
.tabsetControls div{
    float: left;
    margin-left: 3px;
    vertical-align: middle;
}
.tabsetControls div div{
    float: left;
    margin: 3px;
    vertical-align: middle;
}
/* END PANEL TABSET  */

/* START PANEL STACK  */
.panelStackContainer table.icePnlStk {
    width:100%;
}
.stackExamplePanel table{
    width:100%;
    padding:0;
    margin:0;
    background-color: #F5F5F5;
    border-left: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
}
.stackExamplePanel table td{
    padding: 25px;
    border-right: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
}
.stackExamplePanel span{
    font-weight: bold;
}
.stackExamplePanel a span{
    font-weight: normal;
}
/* END PANEL STACK  */
/* START PANEL SERIES  */
.panelSeriesContainer .employeeBox{
    width:200px;
    border: 1px solid #DADADA;
    /*padding: 10px;*/
    margin: 5px;
    float: left;
}
.exampleBox.panelSeriesContainer {
    width: 424px;
}
/* END PANEL SERIES  */
/* START PANEL TOOLTIP  */
.panelToolTipInvnItem{
    float:left;
    margin: 8px;
    border: 1px solid #DADADA;
    text-align: center;
}
/* END PANEL TOOLTIP  */

/* START OUTPUT PROGRESS */
.uploadProgressBar .iceOutProg, .uploadProgressBar .iceOutProgBg, .uploadProgressBar {
    width: 350px;
}
/* END OUTPUT PROGRESS */

/* START CONNECTION STATUS   */
.connectionStatusGraphics{
    width:100%;
}
.connectionStatusGraphics span{
    font-weight:bold;
}
.connectionStatusGraphics td{
    text-align: center;
    vertical-align: middle;

}
/* END CONNECTION STATUS   */

/* START TREE */
.selectedNodetrue span{
    font-weight:bold;
}
.iceTree a:hover .iceOutTxt {
    color: #318496;
}
/* END TREE */

/* Chart example */
.chartConfigurationContainer div.firstChildTitle > label:first-child{
    margin-bottom: 5px;
    display:block;
}
/* end chart example*/

/* media example */
.mediaSelection {

}
.mediaSelection  table{
  width: 250px;
}

/* end media exmaple*/

.popupAddLine {
	border: #a6caf0 0px solid;
	font-size: 13px;
	font-family: Arial;
	background-image: url('../images/internal/lowerHeaderT.png'); 
	margin-left: 20px;
}

.headerLine {
	border: #a6caf0 0px solid;
	font-size: 13px;
	font-family: Arial;
	height: 121px;
	background-image: url('../images/internal/lowerHeaderT.png'); 
}

.TopMenu {
	font-family: Arial, Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #717171;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
}

.TopMenu a {
	font-family: Arial, Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #717171;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	text-decoration: none;
}

.TopMenu a:HOVER {
	font-family: Arial, Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #717171;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	text-decoration: none;
}

.menuLine {
	border: #a6caf0 0px solid;
	font-size: 13px;
	font-family: Arial;
	height: 160px;
	width: 900px;
}

.MainMenu {
	background-image: url(../images/internal/mainMenuBackground.png);
	height: 42px;
	padding-left: 10px;
	padding-right: 10px;
}

.MenuOption{
	font: bold 14px/18px Calibri,Arial,"Lucida Grande","Lucida Sans Unicode",Helvetica,Verdana,sans-serif;
	color: #FFFFFF;
	border-style: none;
	border: none;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}

.MenuOption a{
	font: bold 14px/18px Calibri,Arial,"Lucida Grande","Lucida Sans Unicode",Helvetica,Verdana,sans-serif;
	color: #FFFFFF;
	border-style: none;
	border: none;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}

.LeftMenuTitleSection{
	height: 41px;
	vertical-align: middle;
}

.Spacer10{
	width: 10px;
}

.LeftMenuTitleSectionText{
	font: 18px Calibri,Arial,"Lucida Grande","Lucida Sans Unicode",Helvetica,Verdana,sans-serif;
	font-weight:bold;
	color: #FFFFFF;
	border-style: none;
	border: none;
}

.LeftMenuTitleSectionText1{
	font: 12px Calibri,Arial,"Lucida Grande","Lucida Sans Unicode",Helvetica,Verdana,sans-serif;
	font-weight:bold;
	color: #000;
	border-style: none;
	border: none;
}

.LeftMenuOption {
	color:#FFFFFF;
	font: bold 14px Calibri,Arial,"Lucida Grande","Lucida Sans Unicode",Helvetica,Verdana,sans-serif;
	background-color: #999999; 
}

.LeftMenuOption a {
	color:#FFFFFF;
	font: bold 14px Calibri,Arial,"Lucida Grande","Lucida Sans Unicode",Helvetica,Verdana,sans-serif;
	background-color: #999999;
	text-decoration: none;
}

.LeftMenuBackground {
    background-color: #999999;
    border-bottom: 1px solid #CCCCCC;
    font: bold 14px Calibri,Arial,"Lucida Grande","Lucida Sans Unicode",Helvetica,Verdana,sans-serif;
}

.MessagesSection {
    background-color: #EEEEEE;
    font: bold 12px Calibri,Arial,"Lucida Grande","Lucida Sans Unicode",Helvetica,Verdana,sans-serif;
}

.MessagesSectionRow {
	font-family: Calibri,Arial,"Lucida Grande","Lucida Sans Unicode",Helvetica,Verdana,sans-serif;
	font-size: 12px;
}

.MessagesSectionRow a {
	font-family: Calibri,Arial,"Lucida Grande","Lucida Sans Unicode",Helvetica,Verdana,sans-serif;
	font-size: 12px;
	text-decoration: none;
}

.ColWidth90{
	width: 90%;
}

.ColWidth10{
	width: 10%;
}

.MessagesCol1{
	padding-left: 3px;
	border: 1px solid #DDDDDD;
	height: 22px;
}

.MessagesCol2{
	padding-left: 3px;
	border: 1px solid #DDDDDD;
	height: 22px;
}

.CenterBodyTytleSection{
	color: #999999;
	font-size: 18px;
	font-weight: bold;
	font-family: Calibri,Arial,"Lucida Grande","Lucida Sans Unicode",Helvetica,Verdana,sans-serif;
}

.SubtitleSection{
	width: 100%;
	background-image: url('../images/internal/subTitle.png');
	background-repeat: repeat-x;
}

.topicRow1{
	background-image: url('../images/internal/test21.png');
	height: 80px;
	
}

.topicRow2{
	background-image: url('../images/internal/topicMiddle.png');
	background-repeat: repeat-y;
}

.topicRow3{
	background-image: url('../images/internal/topicEnd.png');
}

.topicCols{
	border: 0px none;
}

.viewCol1 {
	width: 40%
	background-color: #E5DED1;
	
}
.viewCol2 {
	width: 30%
	background-color: #E5DED1;
	
}
.viewCol3 {
	width: 30%
	background-color: #E5DED1;
	
}
.iceDatPgrScrCol a {
	font-size: 10px;
	width:22px;
	height:25px;
    color: rgb(0, 0, 0);
    border: 0px solid rgb(0, 0, 0);
    background-color: rgb(255, 166, 0);
    background-image: url( "../images/internal/arrow-first.gif" );
    padding: 0px 0px 0px 0px;
	margin: 1px 1px 0px;
	text-shadow: none;
    display: block;
    line-height: 20px;
    text-align: center;
    vertical-align: bottom;
}

.iceDatPgrScrCol a {
    background-color: #FFA600;
    background-image: url("../images/internal/selectedPag.png");
    border: 0 solid #000000;
    color: #000000;
    display: block;
    font-size: 10px;
    height: 22px;
    line-height: 20px;
    margin: 0px 0px 0;
    padding: 0;
    text-align: center;
    text-shadow: none;
    vertical-align: bottom;
    width: 22px;
}

.iceDatPgrCol a {
    background-color: #FFA600;
    background-image: url("../images/internal/emptyPag.png");
    border: 0 solid #000000;
    color: #000000;
    display: block;
    font-size: 10px;
    height: 22px;
    line-height: 20px;
    margin: 0px 0px 0;
    padding: 0;
    text-align: center;
    text-shadow: none;
    vertical-align: bottom;
    width: 22px;
}

.iceDatPgrCol a:hover{
    background-color: #FFA600;
    background-image: url("../images/internal/hoverPag.png");
    border: 0 solid #000000;
    color: #000000;
    display: block;
    font-size: 10px;
    height: 22px;
    line-height: 20px;
    margin: 0px 0px 0;
    padding: 0;
    text-align: center;
    text-shadow: none;
    vertical-align: bottom;
    width: 22px;
}

.iceDatPgrScrCol a:hover{
    background-color: #FFA600;
    background-image: url("../images/internal/selectedPag.png");
    border: 0 solid #000000;
    color: #000000;
    display: block;
    font-size: 10px;
    height: 22px;
    line-height: 20px;
    margin: 0px 0px 0;
    padding: 0;
    text-align: center;
    text-shadow: none;
    vertical-align: bottom;
    width: 22px;
}

.colLogin1 {
	width: 20%
	background-color: #E5DED1;
	
}



.colLogin2 {
	width: 60%
	background-color: #E5DED1;
	
}

.colLogin3 {
	width: 20%
	background-color: #E5DED1;
	
}

.col1 {
	width: 20%
	background-color: #E5DED1;
	
}
.col11 {
	width: 80%
	
}
.col2 {
	width: 20%
	
}
.col2 {
	width: 80%
}

.colLeft1 {
	width: 15%
}
.colLeft2 {
	width: 85%
}
.row1 {
	margin: 0px;
	vertical-align: middle;
	
}
.row11 {
	margin-left: 200px;
	vertical-align: middle;
	
}
.row2 {
	margin: 0px;
	vertical-align: middle;
	
}
.row3 {
	margin: 0px;
	vertical-align: middle;
	
}
.row4 {
	margin: 0px;
	vertical-align: middle;
	
}
.row5 {
	margin: 0px;
	vertical-align: middle;
	
}
.row6 {
	margin: 0px;
	vertical-align: middle;
	
}
.row7 {
	margin: 0px;
	vertical-align: middle;
	
}
.row8 {
	margin: 0px;
	vertical-align: middle;
	
}
.row9 {
	margin: 0px;
	vertical-align: middle;
	
}

.iceDatPgr {
	border: #a6caf0 0px solid;
	
}

.iceDatPgrScrBtn {
    background-color: transparent;
    padding: 1;
}

.menuCenterTop {			
	font-size: 11px;
	font-family: Arial;
	width: 710px;
	height:35px;
	background-color: #E7F7B0; 
}
.menuCenterTop2 {			
	font-size: 11px;
	font-family: Arial;
	width: 710px;
	height:35px;
	background-color: #EBEEEF; 
}
.menuBody {
	border: #a6caf0 0px solid;
	font-size: 13px;
	font-family: Arial;
	width: 900px;
	height:800px;
	background-color: #FFFFFF; 
}

.subHeaderLine {
	border: #a6caf0 0px solid;
	font-size: 13px;
	font-family: Arial;
	width: 775px;
	height: 51px;
	margin-top: -15px;
	background-image: url('../images/internal/centralSubHeaderw.jpg'); 
	background-repeat: repeat-x;
	 
}	
	
.leftMenuHeader {
    margin-top:10px;
    margin-left:20px;
    width: 170px;
    height: 30px;
}

.saveCancelCol1{
	width: 75%;
}

.saveCancelCol2{
}

.TopicNameRow{
	height: 40px;
	vertical-align: bottom;
}

.TopicKeywordsRow{
	height: 100%;
	vertical-align: top;
}

.TopicDetailsRow{
	height: 60px;
	vertical-align: top;
}

.RelevanceTitleRow{
	height: 40px;
	vertical-align: bottom;
	text-align: center;
}

.RelevanceRow{
	height: 100%;
	vertical-align: top;
	text-align: center;
}

.RowSpacer{
	height: 100%;
}

.TopicActions{
	height: 60px;
	vertical-align: top;
}

.UserDetailsCol1{
	width: 30%;
}

.UserDetailsCol2{

}

.UserEmail{
	height: 40px;
	vertical-align: bottom;
	text-align: left;
}

.UserMberDel{
	height: 100%;
	vertical-align: bottom;
	text-align: left;
}

.ViewDetails{
	background-image:url('../images/internal/viewDetailsButton.png'); 
	background-repeat: no-repeat;
	width: 86px;
	height: 11px;
	display: block;
}

.RunNow{
	background-image:url('../images/internal/runBtn.png'); 
	background-repeat: no-repeat;
	width: 26px;
	height: 26px;
	display: block;
}

.DownloadButton{
	background-image:url('../images/internal/downloadBtn.png'); 
	background-repeat: no-repeat;
	width: 26px;
	height: 26px;
	display: block;
}

.Modify{
	background-image:url('../images/internal/updateBtn.png'); 
	background-repeat: no-repeat;
	width: 26px;
	height: 26px;
	display: block;
}

.DeleteTextButton{
	background-image:url('../images/internal/delete26.png'); 
	background-repeat: no-repeat;
	width: 26px;
	height: 26px;
	display: block;
}

.SaveButton{
	background-image:url('../images/internal/saveButton.png'); 
	background-repeat: no-repeat;
	width: 71px;
	height: 24px;
	display: block;
}

.CancelButton{
	background-image:url('../images/internal/cancel.png'); 
	background-repeat: no-repeat;
	width: 71px;
	height: 24px;
	display: block;
}

.AddScheduleButton{
	background-image:url('../images/internal/addScheduleButton.png'); 
	background-repeat: no-repeat;
	width: 113px;
	height: 24px;
	display: block;
}

.AddScheduleToListButton{
	background-image:url('../images/internal/addScheduleToListButton.png'); 
	background-repeat: no-repeat;
	width: 113px;
	height: 24px;
	display: block;
}

.EmailButton{
	background-image:url('../images/internal/emailButton.png'); 
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: block;
}

.XmlButton{
	background-image:url('../images/internal/xmlButton.png'); 
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: block;
}

.CsvButton{
	background-image:url('../images/internal/csvButton.png'); 
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: block;
}



.btmLoadImg {
	position: fixed;
	z-index:12; 
	bottom: 10px; 
	left: 200px; 
	font-size: 10px;
}

.delRow {
	background-image:url('../images/internal/delete20.png'); 
	background-repeat: no-repeat;
	width: 22px;
	height: 20px;
	display: block;
}

.RefreshNotification {
	background-image:url('../images/internal/refresh16.png'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}

.closeNotification {
	background-image:url('../images/internal/connect_active_new_doc1.gif'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 19px;
	display: block;
}

.delBtn {
	background-image:url('../images/internal/delete26.png'); 
	background-repeat: no-repeat;
	width: 26px;
	height: 26px;
	display: block;
}

.updateBtn {
	background-image:url('../images/internal/updateBtn.png'); 
	background-repeat: no-repeat;
	width: 26px;
	height: 29px;
	display: block;
}

.runBtn {
	background-image:url('../images/internal/runBtn.png'); 
	background-repeat: no-repeat;
	width: 26px;
	height: 26px;
	display: block;
}

.col1s{
	width: 30%;
}
.col2s{
	width: 40%;
}
.col3s{
	width: 30%;
}

.cols1{
	width: 15%;
}

.cols2{
	width: 20%;
}

.cols3{
	width: 15%;
}
.cols4{
	width: 10%;
}
.cols5{
	width: 10%;
}
.cols6{
	width: 20%;
}
.cols7{
	width: 15%;
}

.onoreazaRowS {
	background-image:url('../images/internal/onoreaza1.jpg'); 
	background-repeat: no-repeat;
	width: 20px;
	height: 18px;
	display: block;
}

.aproveRow {
	background-image:url('../images/internal/aprove.jpg'); 
	background-repeat: no-repeat;
	width: 20px;
	height: 16px;
	display: block;
}

.rezRow {
	background-image:url('../images/internal/reservedNewR.jpg'); 
	background-repeat: no-repeat;
	width: 32px;
	height: 30px;
	display: block;
}

.searchPensiuni {
	background-image:url('../images/internal/System-Map-icon.png'); 
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: block;
}
.viewRowP {
	background-image:url('../images/internal/Symbols-Info-icon21.png'); 
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: block;
}
.addOrderRow {
	background-image:url('../images/internal/onoreazaIcon.jpg'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 15px;
	display: block;
}

.modRow {
	background-image:url('../images/internal/mod.jpg'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 15px;
	display: block;
}

.reserveRow {
	background-image:url('../images/internal/reserve.jpg'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 15px;
	display: block;
}

.plataRow {
	background-image:url('../images/internal/plata.jpg'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 15px;
	display: block;
}
.facturaRow {
	background-image:url('../images/internal/facturaEmisa.jpg'); 
	background-repeat: no-repeat;
	width: 17px;
	height: 14px;
	display: block;
}

.leftMenuBody {
	
	border: #a6caf0 1px solid;
	font-size: 13px;
	font-family: Arial;
	width: 190px;
	height: 160px;
	margin-left:10px;
	margin-top:-10px;
	float:left;



}

.leftMenuBodyCazari {
	
	border: #a6caf0 1px solid;
	font-size: 13px;
	font-family: Arial;
	width: 140px;
	height: 110px;
	margin-left:10px;
	margin-top:-10px;
	float:left;



}

.item {
	
	margin-left:10px;
	margin-top:10px;
	font-size:12px;
	width: 170px;
	color:#C8FA00;

}

.menuFields {
	
	margin-left:10px;
	margin-top:10px;
	font-size:12px;
	width: 170px;
	color:#FFFFFF;	

}

.centerBody {
	
	border: #a6caf0 1px solid;
	font-size: 13px;
	font-family: Arial;
	width: 760px;
	height: 380px;
	margin-left:-30px;
	margin-top:-10px;
	float: right;
}

.container {
	
	border: #a6caf0 0px solid;
	font-size: 13px;
	font-family: Arial;
	width: 1000px;
	height: 300px;
}

.linkTable A {
	FONT-SIZE: 12px;
	COLOR: #A6BBCC;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none;
	font-weight: bold;
	margin-left:5px;
}

.linkTable A:hover {
	FONT-SIZE: 12px;
	COLOR: #89684B;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none;
	font-weight: bold;
	margin-left:5px;
}

.linkTable A:active {
	FONT-SIZE: 12px;
	COLOR: #A6BBCC;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none;
	font-weight: bold;
	margin-left:5px;
}

.linkTable {
	FONT-SIZE: 12px;
	COLOR: #A6BBCC;
	FONT-FAMILY: verdana, tahoma, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
	margin-left:5px;
}



.linkTable1 A {
	FONT-SIZE: 11px;
	COLOR: #FFDE83;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none;
	margin-left:15px;
}

.linkTable1 A:hover {
	FONT-SIZE: 11px;
	COLOR: #89684B;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none;
	margin-left:15px;
}

.linkTable1 A:active {
	FONT-SIZE: 11px;
	COLOR: #014780;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none;
	margin-left:15px;
}

.linkTable1 {
	FONT-SIZE: 12px;
	COLOR: #A47C6E;
	FONT-FAMILY: verdana, tahoma, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	margin-left:15px;
}


.linkTable1S A {
	FONT-SIZE: 12px;
	COLOR: #A47C6E;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none;
	font-weight: bold;
	margin-left:2px;
}

.linkTable1S A:hover {
	FONT-SIZE: 12px;
	COLOR: #89684B;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none;
	font-weight: bold;
	margin-left:2px;
}

.linkTable1S A:active {
	FONT-SIZE: 12px;
	COLOR: #A47C6E;
	FONT-FAMILY: Arial;
	TEXT-DECORATION: none;
	font-weight: bold;
	margin-left:2px;
}

.linkList {
	FONT-SIZE: 11px;
	COLOR: #014780;
	FONT-FAMILY: verdana, tahoma, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}

/* START TREE */
.selectedNodetrue span{
    font-weight:bold;
}

.linkSelected {
	FONT-SIZE: 15px;
	COLOR: #014780;
	FONT-FAMILY: verdana, tahoma, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.linkList:hover {
	FONT-SIZE: 11px;
	COLOR: #ff9900;
	FONT-FAMILY: verdana, tahoma, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}

.linkList:active {
	FONT-SIZE: 11px;
	COLOR: #014780;
	FONT-FAMILY: verdana, tahoma, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}

.linkPaginator A{
	FONT-SIZE: 11px;
	COLOR: #014780;
	FONT-FAMILY: verdana, tahoma, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}

.divContainer{
	display: block;
	height: 100%;
	}

.left_col{
	background-image: url('../images/index_06.jpg');
	margin: 0px;
	display: block;
	width: 180px;
	vertical-align: top;
	height: 600px;

	}
	

.rightCol {
	vertical-align: top;
	padding-top: 20px;
	width: 100%;
	padding-right: 20px;	
	padding-left: 15px;
}


.lineBlueTop {
	background-image: url('../images/index_03_2_1.jpg');
	height: 30px;
	display: block;
	text-align: right;
	width: 100%;
	
}

.titlePicture{
	font-size:25px; 
	color: #bbbbbb; 
	font-family: Arial;
	
	height: 40px;
	display: block;
	margin-top: 10px;
	padding-left: 100px;
	}

.lineHeader {
	background-color: #6699ff;
	height: 1px;
	width: 100%;
	margin-bottom: 20px;
	}

.btnLine{
	height: 38px;
	width: 100%;
	padding-top:10px;
	}
	
.btnLine1{
	height: 25px;
	width: 100%;
	padding-top:10px;
	}	
	
.lineTable{
	background-color: #F0f0f0; 
	width: 100%;
	height: 20px;
	padding-top:3px; 
	margin-bottom: 10px;
	}
	
.lineTextTable{
	font-size: 13px; 
	font-family: Arial; 
	font-weight: bold;
	padding-left:10px;
	}
		
.label_login {
	width: 200px;
	text-align: left;
	font-size: 13px;
	font-family: Arial;
	padding-left: 120px;
	width: 80px;
	color: #ffffff;
	font-weight: bold;
}

.bord1 {
	BORDER: #3b77bd 1px solid;
	font-size: 13px;
	font-family: Arial;
}

.bordSelect {
	BORDER: #aaaaaa 1px solid;
	font-size: 11px;
	font-family: Arial;
	width: 110px;
}

.bordFile{
	font-size: 11px;
	font-family: Arial;
}

.icePnlGrd {
	margin: 0px;
}

.icePnlGrdHdr {
	margin: 0px;
}

.icePnlGrdFtr {
	margin: 0px;
}

.icePnlGrdRow1 {
	margin: 0px;
	vertical-align: top;
	
}

.icePnlGrdRow2 {
	margin: 0px;
}

.icePnlGrdCol{ 
	margin: 0px;}

.icePnlGrdCol1 {
	margin: 0px;
	vertical-align: middle;

}

.icePnlGrdCol2 {
	margin: 0px;
	vertical-align: middle;
}

.icePnlGrdColAlignLeft{
	text-align: left;
}

.iceCmdLnk {
	margin: 0px;
	color: rgb(0, 85, 150);
	padding: 1;
}
.iceFrm{
	margin: 0px;
}

.iceDatTbl {
	margin: 0px;
	border-top-width: 0px;
	border-right-width-value: 0px;
	border-bottom-width: 1px;
	border-left-width-value: 0px;
}

/*
----------- TreeView component
*/
.iceTree {
	padding: 10px;
}

.iceTreeRow {
    white-space: nowrap;
    padding: 0px;
}

.iceTreeRow a {
    text-decoration: none;
    color: #014780;
    cursor: pointer;
    padding: 0px;
    vertical-align: middle;
}

.iceTreeRow a:hover {
    text-decoration: underline;
}

.iceTreeRow img {
    border: 0px;
    vertical-align: top;
    background-repeat: repeat-y;
    padding: 0px;
}

.iceTreeRow div {
    padding: 0px;
}

.iceTreeRow a img {
/* vertical-align: top; - Bug in FF, when img has focus it is not highlighted with a box.*/
    background-repeat: repeat-y;
    border: 0px;
    padding: 0px;
}


/*
----------- PanelPopup & panelTooltip ----------
*/

.icePnlPop, .icePnlTlTip {
    padding: 2px;
    z-index: 1000;
    background: #FFFBE7;
    border: 1px solid #6699FF;
    color: #4F1700;
}

.icePnlPopHdr, .icePnlTlTipHdr {
    font-weight: bold;
    background-color:#4F1700;
    border-bottom: 1px solid #border: 1px solid #6699FF;
    height: 19px;
}

.icePnlPopHdr .iceOutTxt, .icePnlTlTipHdr .iceOutTxt {
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    font: 11px tahoma;
    color: #603A3A;
    font-weight: bold;
}

.icePnlPopBody, .icePnlTlTipBody {
    padding: 0px;
}

.icePnlPopFtr, .icePnlTlTipFtr {
    float: right;
    height: auto;
    background-color: #DDDDDD;
}

.popupTopTextDrag, .popupTopTextModal {
    margin: 2px 0 0 4px;
    display: inline;
    float: left;
}

.popupTopClose, .popupTopCloseModal {
    vertical-align: middle;
    margin: 4px;
    display: inline;
    float: right;
}

.popupContentText {
    display: block;
}

.messagePopUp {
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	height: 20px; 
	padding:10px;
	}
	
.messageImportReport {
	height: 100px; 
	padding:10px;
	padding-right:22px;
	}	

.btnsPopUp {
	height: 30px; padding:10px; width: 212px;
	}
	
.btnsPopUpCenter {
	height: 30px; padding:10px; width: 100px;
	}

.btnsImportPopUp {
	height: 20px; padding:6px; padding-top:15px; width: 345px;
	}

.iceDatTblColHdr1 {
    text-align: center;
    font: 11px tahoma;
    color: #484848;
    padding: 5px;
    font-weight: bold;
    background: #FFF url( './css-images/table_col_header.gif' ) repeat-x bottom left;
    border: 1px solid #d9d9d9;
}

.iceDatTblColHdr2 {
    text-align: center;
    font: 11px tahoma;
    color: #484848;
    padding: 5px;
    font-weight: bold;
    background: #FFF url( './css-images/table_col_header.gif' ) repeat-x bottom left;
    border: 1px solid #d9d9d9;
}

.selectRow {
	width: 90%;
}

.paginator {
	width: 10%;
}

.evenRow {
	background-color: #ffffff;
	text-align: left;
	font-size:12px; 
	font-family: Arial; 
	color: #51798D;
	
	
}

.iceDatTblCol {
    
    padding: 3px 0px;
    border-right: 0px solid rgb(204, 204, 204);
    border-left: 0px solid rgb(204, 204, 204);
    border-top: 0px solid rgb(204, 204, 204);
    text-align: left;
    border-top-width: 0px;
	border-right-width-value: 1px;
	border-bottom-width: 0px;
	border-left-width-value: 0px;
	border-left-width-ltr-source: 0px;
	border-left-width-rtl-source: 0px;
	border-right-width-ltr-source: 0px;
	border-right-width-rtl-source: 0px;
}

.iceDatP2 {
	background-color: #ffffff;
	border-radius:5px;
    padding: 0px 0px;
    border-right: 1px solid rgb(239, 239, 239);
    border-left: 1px solid rgb(239, 239, 239);
    border-top: 1px solid rgb(239, 239, 239);
    border-bottom: 1px solid rgb(239, 239, 239);
    text-align: left;
    border-top-width: 1px;
	border-right-width-value: 1px;
	border-bottom-width: 1px;
	border-left-width-value: 0px;
	border-left-width-ltr-source: 0px;
	border-left-width-rtl-source: 0px;
	border-right-width-ltr-source: 0px;
	border-right-width-rtl-source: 0px;
}
.iceDatTblCol1 {
    background-color: #ffffff;
    padding: 3px 0px;
    border-right: 0px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(255, 255, 255);
    border-top: 0px solid rgb(204, 204, 204);
    text-align: left;
    border-top-width: 0px;
	border-right-width-value: 0px;
	border-bottom-width: 0px;
	border-left-width-value: 0px;
	border-left-width-ltr-source: 0px;
	border-left-width-rtl-source: 0px;
	border-right-width-ltr-source: 0px;
	border-right-width-rtl-source: 0px;
}

.iceDatP{
    color: rgb(0, 0, 0);
    padding: 3px 0px;
    border-right: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    border-top: 1px solid rgb(204, 204, 204);
    text-align: left;
    border-top-width: 2px;
	border-right-width-value: 1px;
	border-bottom-width: 1px;
	border-left-width-value: 1px;
	border-left-width-ltr-source: 0px;
	border-left-width-rtl-source: 0px;
	border-right-width-ltr-source: 0px;
	border-right-width-rtl-source: 0px;
}

.oddRow {
	background-color: #ffffff;
	text-align: left;
	font-size:12px; 
	font-family: Arial; 
	color: #C9AB8F;
	
}

.starPict {
    padding-right: 5px;
}

.listTreePict {
    border: 0px;
    padding-right: 10px;
}

.tblForm {
	background-color: #e6e6e6;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tblFormAddConcept {
	background-color: #e6e6e6;
	margin-top: 10px;
	margin-bottom: 10px;
}

.create_label {
	background-color: #a6caf0;
	font-size: 13px;
	font-family: Arial;
	padding-left: 10px;
	width: 30%;
}

.create_label_statistics {
	background-color: #a6caf0;
	font-size: 13px;
	font-family: Arial;
	padding-left: 10px;
	width: 90%;
}

.create_label_search {
	background-color: #a6caf0;
	font-size: 13px;
	font-family: Arial;
	padding-left: 10px;
	width: 25%;
}

.create_select_search {
	width: 25%;
}

.bord {
	border: #a6caf0 1px solid;
	font-size: 13px;
	font-family: Arial;
	width: 100%;
}

.bordTextarea {
	border: #a6caf0 1px solid;
	font-size: 13px;
	font-family: Arial;
	width: 100%;
	height: 140px;
	padding-left:10px; 
	line-height: 20px; 
	background-color: #eaeaea;
	background-image: url('../images/back_textarea.gif'); 
	color:#333333;
}

.bord-dis {
border: #a6caf0 1px solid;
	font-size: 13px;
	font-family: Arial;
	width: 100%;
	background-color: #eeeeee;
	}
	
.bordSearch {
	border: 0px none;
	border-bottom: #dddddd 4px solid;
	font-size: 13px;
	font-family: Arial;
	width: 100%;
}

.bordSearchList {
	background-color: #ffffff;
	font-size: 13px;
	font-family: Arial;
}

.manageColRight{ 
	background-color: #ffffff; 
	vertical-align: top;
	margin: 0px;
	}
	
.pictDetail {
	background-image: url('../images/list.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 14px;
	height: 13px;
	display: block;
	flow: right;
	}
	
.colSt100proc{ 
	width: 100%;	
	}
	
.colDr0proc{
	width: 10px;
	padding-left:15px;
	}
	
.colDr0proc1{
	width: 60px;
	padding-left:15px;
	}

.displayTd {
	vertical-align: top;
	background-color: #ffffff;
	font-size: 13px;
	font-family: Arial;
	width: 220px;
	height: 320px;
}

.addConceptTd {
	vertical-align: top;
	background-color: #ffffff;
	font-size: 13px;
	font-family: Arial;
	width: 330px;
	height: 350px;
}

.displayTdList {
	vertical-align: top;
	background-color: #e6e6e6;
	font-size: 13px;
	font-family: Arial;
	width: 285px;
	height: 250px;
}

.setRTList {
	vertical-align: top;
	background-color: #e6e6e6;
	font-size: 13px;
	font-family: Arial;
	width: 255px;
	height: 280px;
}

.userWelcome {
	position: relative;
	height: 40px;
	vertical-align: top;
	font-size: 13px;
	font-family: Arial;
	margin-top: 250px;
	color: #0044DD;	
	width: 181px;
}

.displayTdTree {
	vertical-align: top;
	background-color: #ffffff;
	font-size: 12px;
	font-family: Arial;
	padding:5px;
	width: 200px;
	height: 350px;
}

.create_select_center {
	font-size: 13px;
	font-family: Arial;
	padding-left: 10px;
	width: 60%;
}

.search_button_col{
    width: 15%;
}

.iceDatPgrScrCol {
	background-color: transparent;
	border: 0px solid #b5d1f5;
}

.btnX{
	background-image: url('../images/css-images/cal_off.gif');
	background-repeat: no-repeat;
	float:right;
	width: 16px;
	height: 16px;
	display: block;
	margin-bottom:1px;
	margin-right:1px;
}

.messageError {
	background-image: url('../images/bottom_line.gif');
	height: 21px;
	color: #f47725;
	font-weight:bold;
	font-size: 13px;
	font-family: Arial;
	width: 500px;
	background-repeat: no-repeat;
}

.iceMsgError {
	color: #ed0000;
	font-weight:bold;
	font-size: 13px;
	font-family: Arial;
	width:400px; 
	float: left; 
	padding-bottom:10px;
}

.iceMsgInfo {
	color: #ed0000;
	font-weight:bold;
	font-size: 13px;
	font-family: Arial;
	width:400px; 
	float: left; 
	padding-bottom:10px;
} 

.messageBottomLeft {
	color: #ffffff;
	background-color: #75a1ce;
	font-size: 11px;
	font-family: Arial;
	width: 300px;
	height: 20px;
}

.messageBottomRight {
	color: #ffffff;
	background-color: #75a1ce;
	font-size: 11px;
	font-family: Arial;
	width: 150px;
}

.messageBottomCenter {
    color: #ffffff;
	background-color: #75a1ce;
	width: 50px;
}

.btnSymbolReject{
	background-image: url('../images/invalidate.png');
	background-repeat: no-repeat;
	
	width: 12px;
	height: 12px;
	display: block;
}

.selectedNodetrue span {
font-weight:bold;
}


/*
--------------- Progress bar
*/
.iceOutProg {
    margin: 0;
}

.iceOutProgBg {
    width: 300px;
    height: 17px;
    border: 1px solid #d9d9d9;
    background: #FFF;
}

.iceOutProgFill {
    display: block;
    margin: 1px;
    height: 17px;
    background: url('../images/ProgFill_bg.gif') repeat-x top left;
}

.iceOutProgTxt {
    color: #484848;
}

.iceSelInpTxtTxt {
	border: 0px;
}

.iceSelInpTxtSelRow {
	background-color:#4591A1;
	border-bottom:1px solid #FFFFFF;
	color:#FFFFFF;
	display:block;
	padding:2px 2px 2px 10px;
	position:relative;
}

.iceSelInpTxtRow {rime.css (linia 1)
	background-color:#FFFFFF;
	border-bottom:1px solid #DEDEDE;
	color:#333333;
	display:block;
	padding:2px 2px 2px 10px;
	position:relative;
}

.bordSearchTxt {
	width:100%;
}

.conceptTableRow {
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: arial,verdana, tahoma, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-style: italic;
}

.termTableRow {
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: arial,verdana, tahoma, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: normal;
}

.linkListSearch {
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: arial,verdana, tahoma, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: normal;
}
/*
=================== ICE Component Appearence ==============
*/
/*
----------- Calendar Component classes
*/
.iceSelInpDate {
/* calendar outline & background color */
    background-color: #FFFFFF;
    border: 1px solid #ABABAB; /* removed margin from calendar outline - better absolute positioning of popup */
/*margin:10px;*/
}

.iceSelInpDateIFrameFix, .iceIEIFrameFix {
   z-index: -1;
   position: absolute;
   display: block;
   filter: mask();
} 

.iceSelInpDatePopup {
    min-width: 172px;
}

.iceSelInpDateInput {
    width: 150px;
    margin: 2px;
}

.iceSelInpDateOpenPopup {
    display: inline;
    text-decoration: none;
    background-color: transparent;
    background-image: url('../images/calendar.jpg')
    background-repeat: no-repeat;
    text-align: center;
    border: none;
    width: 16px;
    height: 16px;
}

.iceSelInpDateClosePopup {
    display: inline;
    text-decoration: none;
    background-color: transparent;
    background-image: url( "./css-images/cal_off.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
    width: 16px;
    height: 16px;
}

.iceSelInpDateMonthYear,  .iceSelInpDateTime{
    background-color: #EFEFEF;
    background-image: url( "./css-images/table_col_header.gif" );
    background-position: bottom;
    background-repeat: repeat-x;
    font-weight: normal;
    text-align: center;
    color: #000000;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 4px;
    padding-bottom: 4px; /*border-right:1px solid #CCCCCC;*/
}

.iceSelInpDateTime{
    border-left: 1px solid #ABABAB;
    border-bottom: 1px solid #ABABAB;
    border-right: 1px solid #ABABAB;        
}

.iceSelInpDateMoYrDropdown, .iceSelInpDateTimeDropDown {
    background-color: #EFEFEF;
    font-weight: bold;
    color: #000000;
}

.iceSelInpDateMonthYear img {
    border: none;
}

.iceSelInpDateMovePrev {
    text-decoration: none;
    display: inline;
    background-color: transparent;
    background-image: url( "./css-images/cal_arrow_left.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
    width: 17px;
    height: 16px;
}

.iceSelInpDateMoveNext {
    text-decoration: none;
    display: inline;
    background-color: transparent;
    background-image: url( "./css-images/cal_arrow_right.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
    width: 17px;
    height: 16px;
}

.iceSelInpDateWeek {
/* the days of the week row */
    font-weight: normal;
    color: #2A6CC2;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #000000;
}

/* set the look for the days of the week backgrounds */
.iceSelInpDateDay, .iceSelInpDateCur {
/* the background & alignment for the days */
    padding: 3px;
    text-align: center;
}

.iceSelInpDateCur .iceOutTxt{
	color:#603A3A;
}

/* now set the attributes for the numbers for each day of the week */
.iceSelInpDateDay a {
/* the day text */
    text-decoration: none;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000000;
    width: 100%;
    height: 100%;
    padding: 0px;
    display: block;
}
.iceSelInpDateDay .iceOutTxt {
    color: #000000;
}

.iceSelInpDateCur a {
    text-decoration: none;
    background-color: #2A6CC2;
    border: 1px solid #2A6CC2;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 0px;
    display: block;
}

/* now set the color attributes for the hover effect on non-current days */
.iceSelInpDateDay a:hover {
/* the day text */
    text-decoration: none;
    color: #2A6CC2;
}
