
body, table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .95em;
    color: #000000;
}

.iceMnuBar { 

    padding: 0px;
    white-space: nowrap;
}

.iceMnuBarItem, .myHomeMenuItem { 
    float: left;
    padding: 0px;

    white-space: nowrap;
}

.iceMnuBarItem a, .myHomeMenuItem a {
    background:url("../images/internal/tHeader.jpg");
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #FFF; 
    margin: 0px;
    width: 100px;
    float: left;
    display: block;
    text-decoration: none;
    font-weight:bold;
    white-space :normal ;

}

.myHomeMenuItem a {
    width: 70px;
}

.iceMnuBarItem a:hover, myHomeMenuItem a:hover{ 
    background: #006699;
    color: #FFFFFF;
    
}

.iceMnuBarItem hr {
    border: none 0;
    border-top: 1px solid #999999;
    width: 100%;
    height: 1px;
    margin-top: 3px;
    padding: 0px;
    text-align: left;
}

.iceMnuBarSubMenu { 
    position: absolute;
    background-color: #B5C6CB;
    width: 180px;
    border-top:1px solid #FFF;
    padding: 1px;
    height: auto;
    display: block;
}

.iceMnuItm { 
    padding: 0px;
    display: block;
    height: auto;
}

.iceMnuItm a { 
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight : bold;
}

.iceMnuItm a:hover { 
    background-color:#355A7D;
}

.iceMnuItm a:hover .iceOutTxt{ 
    color: #FFFFFF;
}

.iceMnuItmLabel, .iceMnuBarItemLabel { 
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 4px;
    font-size: 1.0em;
    display: inline;
}

.iceMnuBarItemImage {
	width:0px;
}

.iceMnuItmImage, .iceMnuBarItemImage {  
    display:inline;
    vertical-align: top;    
}

.iceMnuBarSubMenuInd { 
    display:inline;
    float:right;
    padding-top: 3px;
    padding-right: 1px;    
}
