.sigla_left_col1{
	background-image: url('../images/index-new_01.jpg');
	background-repeat: no-repeat;
	width: 181px;
	height: 114px;
	display: block;
	vertical-align: top;;
	}
	
.ERMS_left_col1{
	background-image: url('../images/index_06.jpg');
	background-repeat: no-repeat;
	width: 181px;
	height: 100%;
	display: block;
	}
	
.tree {
	font-family: Arial;
	font-size: 13px;
}

#layer6 {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: relative;
	visibility: visible;
}

.loginBtn {
	background-image: url('../images/login_ro.jpg');
	background-repeat: no-repeat;
	margin-left: 170px;
	margin-top: 20px;
	width: 100px;
	height: 18px;
	display: block;
}

.logoutBtn {
	background-image: url('../images/logout_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 10px;
	float: right;
	width: 77px;
	height: 22px;
	display: block;
}

.btnSearchByConcept {
	background-image: url('../images/search_by_concept_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float: right;
	width: 165px;
	height: 18px;
	display: block;
}

.btnSearchByKeyword {
	background-image: url('../images/search_by_keyword_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float: right;
	width: 165px;
	height: 18px;
	display: block;
}

.btnSearchByRelation {
	background-image: url('../images/search_by_relation_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float: right;
	width: 165px;
	height: 18px;
	display: block;
}

.btnApprove {
	background-image: url('../images/approve_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:left;
	width: 91px;
	height: 18px;
	display: block;
}

.btnReject {
	background-image: url('../images/reject_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:left;
	width: 91px;
	height: 18px;
	display: block;
}

.btnViewAll {
	background-image: url('../images/view_all_left_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:left;
	width: 91px;
	height: 18px;
	display: block;
}

.btnViewAllRight {
	background-image: url('../images/view_all_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float: right;
	width: 135px;
	height: 18px;
	display: block;
}

.btnNewCV {
	background-image: url('../images/new_cv_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:left;
	width: 91px;
	height: 18px;
	display: block;
}

.btnImportCV {
	background-image: url('../images/import_cv_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:left;
	width: 91px;
	height: 18px;
	display: block;
}

.btnImportCVPopUp {
	background-image: url('../images/import_cv_ro.jpg');
	background-repeat: no-repeat;
	width: 91px;
	margin-left: 10px;
	height: 18px;
	border:0px;
}

.btnExport {
	background-image: url('../images/export_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:left;
	width: 91px;
	height: 18px;
	display: block;
}

.btnDelete {
	background-image: url('../images/delete_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:left;
	width: 91px;
	height: 18px;
	display: block;
}

.btnDeleteNS {
	background-image: url('../images/delete_ns_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:left;
	width: 135px;
	height: 18px;
	display: block;
}
.btnSaveCopy {
	background-image: url('../images/save_copy_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:left;
	width: 135px;
	height: 18px;
	display: block;
}

.btnNewNS {
	background-image: url('../images/new_ns_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:left;
	width: 91px;
	height: 18px;
	display: block;
}

.welcome {
	background-image: url('../images/head_login_ro.jpg');
	background-repeat: no-repeat;
	width: 500px;
	height: 88px;
	display: block;
}

.btnCancel {
	background-image: url('../images/cancel_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 91px;
	height: 18px;
	display: block;
}

.btnCancelPopUp {
	background-image: url('../images/cancel_ro.jpg');
	background-repeat: no-repeat;
	float:right;
	width: 91px;
	height: 18px;
	display: block;
}

.btnCancelPopUpCenter {
	background-image: url('../images/cancel_ro.jpg');
	background-repeat: no-repeat;
	width: 91px;
	height: 18px;
	display: block;
}

.btnCreate {
	background-image: url('../images/create_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 91px;
	height: 18px;
	display: block;
}

.btnAdd {
	background-image: url('../images/add_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 91px;
	height: 18px;
	display: block;
}

.btnChange {
	background-image: url('../images/change_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 91px;
	height: 18px;
	display: block;
}

.btnRequestTerm {
	background-image: url('../images/request_term_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 115px;
	height: 18px;
	display: block;
}

.btnBack {
	background-image: url('../images/back_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 5px;
	float:right;
	width: 69px;
	height: 18px;
	display: block;
}

.btnBackNS {
	background-image: url('../images/back_ns_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 135px;
	height: 18px;
	display: block;
}


.btnPrintNS {
	background-image: url('../images/print_ns_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 135px;
	height: 18px;
	display: block;
}

.btnBackAR {
	background-image: url('../images/back_ar_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 91px;
	height: 18px;
	display: block;
}

.btnPrintAR {
	background-image: url('../images/print_ar_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 91px;
	height: 18px;
	display: block;
}

.btnExportRight {
	background-image: url('../images/export_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 91px;
	height: 18px;
	display: block;
}

.btnViewAsList{
	background-image: url('../images/view_as_list_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 135px;
	height: 18px;
	display: block;
}

.btnViewAsList{
	background-image: url('../images/view_as_list_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 135px;
	height: 18px;
	display: block;
}

.btnViewAsTree{
	background-image: url('../images/view_as_tree_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 135px;
	height: 18px;
	display: block;
}

.btnSetRTRight{
	background-image: url('../images/set_rt_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 135px;
	height: 18px;
	display: block;
}

.btnSetRTLeft{
	background-image: url('../images/set_rt_ro.jpg');
	background-repeat: no-repeat;
	margin-left: 30px;
	width: 135px;
	height: 18px;
	display: block;
}

.btnDelTermRight{
	background-image: url('../images/del_term_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 135px;
	height: 18px;
	display: block;
}

.btnChangeTermRight{
	background-image: url('../images/change_term_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 135px;
	height: 18px;
	display: block;
}

.btnAddTermRight{
	background-image: url('../images/add_term_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 135px;
	height: 18px;
	display: block;
}

.btnAddConceptRight{
	background-image: url('../images/add_concept_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 135px;
	height: 18px;
	display: block;
}

.btnAddConceptLeft{
	background-image: url('../images/add_concept_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:left;
	width: 135px;
	height: 18px;
	display: block;
}

.btnReportRight{
	background-image: url('../images/report_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 135px;
	height: 18px;
	display: block;
}

.btnStatisticsRight{
	background-image: url('../images/statistics_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 135px;
	height: 18px;
	display: block;
}

.btnNewTermRequestRight{
	background-image: url('../images/new_term_request_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 165px;
	height: 18px;
	display: block;
}

.btnItemFrequencyRight{
	background-image: url('../images/item_frequency_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 135px;
	height: 18px;
	display: block;
}

.btnChangeConceptRight{
	background-image: url('../images/change_concept_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 135px;
	height: 18px;
	display: block;
}

.btnDelConceptRight{
	background-image: url('../images/del_concept_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 135px;
	height: 18px;
	display: block;
}

.btnView{
	background-image: url('../images/view_ro.jpg');
	background-repeat: no-repeat;
	float:right;
	width: 77px;
	height: 18px;
	display: block;
}

.btnAddNew{
	background-image: url('../images/add_ro.jpg');
	background-repeat: no-repeat;
	float:right;
	width: 91px;
	height: 18px;
	display: block;
}

.btnAddNewMargin{
	background-image: url('../images/add_new_ro.jpg');
	background-repeat: no-repeat;
	float:right;
	margin-right: 15px;
	width: 91px;
	height: 18px;
	display: block;
}

.btnBrowse{
	background-image: url('../images/browse_ro.jpg');
	background-repeat: no-repeat;
	float:right;
	width: 91px;
	height: 18px;
	display: block;
}

.btnSelect{
	background-image: url('../images/select_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float:right;
	width: 102px;
	height: 18px;
	display: block;
}

.btnSearch{
	background-image: url('../images/search_ro.jpg');
	background-repeat: no-repeat;
	float:right;
	width: 81px;
	height: 18px;
	display: block;
}

.btnClose{
	background-image: url('../images/close_ro.jpg');
	background-repeat: no-repeat;
	float:right;
	margin-right: 15px;
	width: 91px;
	height: 18px;
	display: block;
}

.btnOk{
	background-image: url('../images/ok_ro.jpg');
	background-repeat: no-repeat;
	float:right;
	margin-right: 15px;
	width: 91px;
	height: 18px;
	display: block;
}

.btnOkRev {
	background-image: url('../images/ok_rev_ro.jpg');
	background-repeat: no-repeat;
	float:center;
	width: 91px;
	height: 18px;
	display: block;
}

.btnSelectLinking{
	background-image: url('../images/select_for_linking_ro.jpg');
	background-repeat: no-repeat;
	margin-left: 10px;
	margin-top: 10px;
	width: 124px;
	height: 18px;
	display: block;
}

.btnSetRT{
	background-image: url('../images/select_for_linking_ro.jpg');
	background-repeat: no-repeat;
	margin-left: 10px;
	margin-top: 10px;
	width: 124px;
	height: 18px;
	display: block;
}

.importPopUp{
	background-image: url('../images/import_cv_ro.jpg');
	BORDER: 0px;
	margin-left: 12px;
	font-size: 11px;
	font-family: Arial;
	width: 91px;
}

.iceInpFileBtn {
	background-image: url('../images/import_cv_ro.jpg');
	BORDER: 0px;
	margin-left: 12px;
	font-size: 11px;
	font-family: Arial;
	width: 91px;
}

.btnFilter{
	background-image: url('../images/filter_ro.jpg');
	background-repeat: no-repeat;
	margin-left: 10px;
	width: 101px;
	height: 18px;
	display: block;
}

.btnAddRT{
	background-image: url('../images/set_rt_ro.jpg');
	background-repeat: no-repeat;
	float: right;
	margin-right: 15px;
	width: 135px;
	height: 18px;
	display: block;
}


.btnChangeTermRequest{ 
	background-image: url('../images/change_term_request_ro.jpg');
	background-repeat: no-repeat;
	margin-right: 15px;
	float: right;
	width: 195px;
	height: 18px;
	display: block;
}

